.container-fluid{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%); 
}
 .border-start, .tilt {           /*title for dashbord */
    border-left: 6px solid #00C1FE !important;
}
.rounded-3{
    border-radius: 15px !important;
}
.fs-6{
    font-size: 11px !important;
}

/* dashbord */
.bg-dark {
    background: #FAFFC1 !important;
}
.text-info {
    color: #C4C4C4 !important;
}

.bg-color {
    background: #F0F9FF;
}
.colry {
    color: #74C1ED;
}
.bg-color-one {
    background: #FEF6FB;
}
.colry-one {
    color: #EE95C5;
}
.bg-color-two {
    background: #FEFBEC;
}
.colry-two, .add, .delete {
    color: #00C1FE;
}
.bg-color-three {
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
}

/* student Style */

.fa-sort-up:before, .fa-sort-asc:before {
    content: "\f0de";
    position: relative;
    top: 8px;
    left: 20px;
    color: #00C1FE;
}
.fa-sort-down:before, .fa-sort-desc:before {
    content: "\f0dd";
    position: relative;
    bottom: 8px;
    left: 20px;
    color: #00C1FE;
}
.w-50{
    width: 3rem !important;
}

.text-color {
    color: #ACACAC;
}
.fw-normal {
    font-weight: 100;
}