.container-fluid{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%); 
}
.border-start, .tilt{
    border-left: 6px solid #00C1FE !important;
}
.rounded-3{
    border-radius: 15px !important;
}
.fs-6{
    font-size: 11px !important;
}
