.container-fluid {
  background: linear-gradient(69.66deg, #00c1fe 19.39%, #faffc1 96.69%);
}
.border-start {
  /*title for dashbord */
  border-left: 6px solid #00c1fe !important;
}
.rounded-3 {
  border-radius: 15px !important;
}
.fs-6 {
  font-size: 11px !important;
}

/* dashbord */
.bg-dark {
  background: #faffc1 !important;
}
.text-info {
  color: #c4c4c4 !important;
}

.bg-color {
  background: #f0f9ff;
}
.colry {
  color: #74c1ed;
}
.bg-color-one {
  background: #fef6fb;
}
.colry-one {
  color: #ee95c5;
}
.bg-color-two {
  background: #fefbec;
}
.colry-two,
.add,
.delete {
  color: #00c1fe;
}
.bg-color-three {
  background: linear-gradient(69.66deg, #00c1fe 19.39%, #faffc1 96.69%);
}
.input-group {
  border: 1px solid #e5e5e5 !important;
}
/* student Style */

.bg-withe {
  background: #e5e5e53d !important;
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
  position: relative;
  top: 8px;
  left: 20px;
  color: #00c1fe;
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
  position: relative;
  bottom: 8px;
  left: 20px;
  color: #00c1fe;
}
.height {
  height: 72.8vh !important;
}
.fa-caret-square-o-left {
  margin-left: 10px !important;
}
.table {
  border-top: 2px solid #e5e5e5 !important;
}

.w-50 {
  width: 3rem !important;
}

.text-color {
  color: #acacac;
}
.fw-normal {
  font-weight: 100;
}
.nav-link {
  color: #000 !important;
}
.width {
  min-height: 90vh !important;
}
/* sidebare */
.selected {
  
  border-radius: 8px;
}
.selected:active {
  background: #00c1fe;
}
